APT::Periodic::Update-Package-Lists "{{ bika_apt_update_package_lists }}";
APT::Periodic::Download-Upgradeable-Packages "{{ bika_apt_download_upgradable_packages }}";
APT::Periodic::AutocleanInterval "{{ bika_apt_autocleaninterval }}";
APT::Periodic::Unattended-Upgrade "{{ bika_apt_unattended_upgrade }}";