# BIKA HAPROXY Configuration
global
  log /dev/log  local0
  log /dev/log  local1 notice
  stats socket /var/lib/haproxy/stats level admin
  chroot /var/lib/haproxy
  user haproxy
  group haproxy
  daemon

defaults
  log global
  mode  http

  # Enable logging of HTTP request, session state and timers
  # http://cbonte.github.io/haproxy-dconv/configuration-1.4.html#option httplog
  option  httplog

  # Log null connection
  # http://cbonte.github.io/haproxy-dconv/configuration-1.4.html#4.2-option%20dontlognull
  option  dontlognull

  # Enable passive HTTP connection closing
  # http://cbonte.github.io/haproxy-dconv/configuration-1.4.html#4.2-option%20httpclose
  option httpclose

  # Early dropping of aborted requests pending in queues
  # http://cbonte.github.io/haproxy-dconv/configuration-1.4.html#option abortonclose
  option abortonclose

  # number of retries to perform on a server after a connection failure
  # http://cbonte.github.io/haproxy-dconv/configuration-1.4.html#retries
  retries 3

  # http://cbonte.github.io/haproxy-dconv/configuration-1.4.html#4.2-option%20redispatch_
  # session redistribution in case of connection failure
  option redispatch
  # http://cbonte.github.io/haproxy-dconv/configuration-1.4.html#monitor-uri
  monitor-uri /haproxy-ping

  # Enable status page at this URL, on the port HAProxy is bound to
  stats enable

{% if bika_haproxy_with_http_stats %}
  # http://cbonte.github.io/haproxy-dconv/configuration-1.4.html#stats uri
  stats uri /haproxy-status
  stats refresh 5s
  stats realm Haproxy statistics
  stats auth {{ bika_haproxy_stats_user }}:{{ bika_haproxy_stats_pass }}
{% endif %}

  timeout connect 60s
  timeout client  300s
  timeout server  300s
  timeout queue   300s

{% if ansible_os_family == 'Debian' %}
  errorfile 400 /etc/haproxy/errors/400.http
  errorfile 403 /etc/haproxy/errors/403.http
  errorfile 408 /etc/haproxy/errors/408.http
  errorfile 500 /etc/haproxy/errors/500.http
  errorfile 502 /etc/haproxy/errors/502.http
  errorfile 503 /etc/haproxy/errors/503.http
  errorfile 504 /etc/haproxy/errors/504.http
{% endif %}

frontend bika_frontend
    bind {{ bika_haproxy_frontend_bind_address }}:{{ bika_haproxy_frontend_port }}
    default_backend bika_backend

backend bika_backend

    # Use Zope's __ac cookie as a basis for session stickiness if present.
    appsession __ac len 32 timeout 1d

    # Otherwise add a cookie called "serverid" for maintaining session stickiness.
    # This cookie lasts until the client's browser closes, and is invisible to Zope.
    cookie serverid insert nocache indirect
    # If no session found, use the roundrobin load-balancing algorithm to pick a backend.
    # balance roundrobin

    # The server with the lowest number of connections receives the connection
    balance leastconn

    balance {{ bika_haproxy_backend_balance_method }}
    option forwardfor
{% if bika_haproxy_backend_httpchk != '' %}
    option httpchk {{ bika_haproxy_backend_httpchk }}
{% endif %}

{% for client in range(0, bika_plone_client_count|int ) %}
    server {{ bika_plone_instance_name }}_{{ client + 1 }} localhost:{{ bika_plone_client_base_port | int + client }} cookie {{ bika_plone_instance_name }}_{{ client + 1 }} check
{% endfor %}